[package]
name = "hello-rust"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
os_info = { version = "3", default-features = false }
sys-info = "0.9"
sysinfo = "0.27.2"
winit = "0.27.5"
dark-light = "1.0.0"
libmacchina = "6.3.1"
crossterm = "0.25.0"
sys-locale = "0.2.3"
confy = "0.5.1"
serde = "1.0.152"
machine-info = "1.0.9"